{
    "UriBase" : "<URI_BASE>",
    "NamespaceUriBase" : "/specifications/",
    "Resources" : ["resources"],
    "Components" : ["GlobalConfiguration", "RelativeUser", "AppConfiguration"],
    "SessionEnable" : true,
    "Email" : {
        "From" : "<EMAIL_FROM_ADDRES>",
        "FromName" : "<EMAIL_FROM_NAME>",
        "Type" : "SMTP",
        "SMTPHost" : "<EMAIL_SMTP_HOST>",
        "SMTPAuth" : true,
        "SMTPUsername" : "<EMAIL_SMTP_USERNAME>",
        "SMTPPassword" : "<EMAIL_SMTP_PASSWORD>",
        "SMTPSecure" : "ssl",
        "SMTPPort" : 465
    },
    "Certificate" : {
        "Crt" : "/path/to/crt/certificate.crt",
        "Pem" : "/path/to/pem/certificate.pem"
    },
    "Proxy" : {
        "Host" : "",
        "Port" : "",
        "User" : "",
        "Password" : "",
        "Type" : "<HTTP | SOCKS5>"
    },
    "ResourcesConfiguration" : {
        "RCDefault" : {
            "DriverConnector" : "boa_persistence"
        },
        "resources" : {
            "Properties" : {
                "BoAAPI" : "<URI_BOA_ADMIN_API>",
                "Engines" : [
                    {
                        "Name" : "Solr - Lucene",
                        "Code" : "solr",
                        "Parameters" : {
                            "URI" : "<URI_SOLR_SERVICE>",
                            "CHUNK_SIZE": 100,
                            "Rebuild": "None"
                        },
                        "Enabled" : true,
                        "Description" : "Use a Solr system to indexation and search resources"
                    },
                    {
                        "Name" : "Fulltext",
                        "Code" : "fulltext",
                        "Parameters" : {
                        },
                        "Enabled" : false,
                        "Description" : "Search only into metadata text, not by attributes"
                    }
                ],
                "DefaultEngine" : "solr"
            }
        }
    },
    "Connectors" : {
        "boa_persistence" : {
            "Name" : "boasql",
            "Properties" : {
                "ConnectionString" : "<DEFAULT_DATABASE_CONNECTION_STRING>",
                "Prefix" : "boaapi_"
            }
        },
        "rsts_persistence" : {
            "Name" : "authsql",
            "Properties" : {
                "ConnectionString" : "<AUTH_DATABASE_CONNECTION_STRING>",
                "Prefix" : "boaapi_"
            }
        }
    },
    "ComponentsConfiguration" : {
        "Auth" : {
            "DriverConnector" : "rsts_persistence",
            "Properties" : {
                "PasswordSalt" : "<LONG_RANDOM_SALT_STRING>"
            }
        },
        "Access" : {
            "Driver" : {
                "Name" : "boacmix",
                "Properties" : {
                "ConnectionString" : "<ACCESS_DATABASE_CONNECTION_STRING>",
                    "Prefix" : "boaapi_"
                }
            }
        },
        "Users" : {
            "DriverConnector" : "rsts_persistence"
        },
        "GlobalConfiguration" : {
            "Properties" : {
                "Timezone" : "UTC"
            }
        }
    }
}